In [1]:
import os
import sys
sys.path.append(os.path.dirname((os.path.abspath(''))))

from src.pipeline import Pipeline
from src.preprocessing.preprocessing import removal, tokenization, stemming

[nltk_data] Downloading package punkt to /Users/tim/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/tim/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/tim/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
pipeline = Pipeline(collection = '../data/raw/collection.pkl', queries = '../data/raw/queries.pkl', features ='data/processed/qID_pID')

In [3]:
pipeline.features

            qId      pID
0       1185869        0
1       1185868       16
2        597651       49
3        403613       60
4       1183785      389
...         ...      ...
532756    19285  8841362
532757   558837  4989159
532758   559149  8841547
532759   706678  8841643
532760   405466  8841735

[532761 rows x 2 columns]