In [13]:
import os
import sys
sys.path.append(os.path.dirname((os.path.abspath(''))))

from src.pipeline import Pipeline
from src.preprocessing.preprocessing import do_removal

In [4]:
pipeline = Pipeline(collection = '../data/raw/collection.pkl', queries = '../data/raw/queries.pkl')

In [8]:
pipeline.collection.head()

   pID                                            Passage
0    0  The presence of communication amid scientific ...
1    1  The Manhattan Project and its atomic bomb help...
2    2  Essay on The Manhattan Project - The Manhattan...
3    3  The Manhattan Project was the name for a proje...
4    4  versions of each volume as well as complementa...

In [6]:
pipeline.queries.head()

       qID                           Query
0  1048578  cost of endless pools/swim spa
1  1048579                    what is pcnt
2  1048580               what is pcb waste
3  1048581                   what is pbis?
4  1048582                  what is paysky

In [16]:
do_removal(pipeline.collection.Passage)

0          The presence of communication amid scientific ...
1          The Manhattan Project and its atomic bomb help...
2          Essay on The Manhattan Project - The Manhattan...
3          The Manhattan Project was the name for a proje...
4          versions of each volume as well as complementa...
                                 ...
8841818    When metal salts emit short wavelengths of vis...
8841819    Thousands of people across the United States w...
8841820    The recipe that creates blue, for example, inc...
8841821    On Independence Days of yore, old-timey crowds...
8841822    View full size image. Behind the scenes of the...
Name: Passage, Length: 8841823, dtype: object